* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .container-fluid{
      height:100vh;
      width:100%;
  }
  .topbar{
      width: 100%;
      height:10%;
      overflow: hidden;
  }
  .section {
    display: flex;
    width: 100%;
  }
  
  .section .sidebar,
  .section .mainbar {
    height: 85vh;
    overflow-x: auto;
  }
  
  .section .sidebar {
    width: 280px;
  }
  
  .section .mainbar {
    flex: 1;
  }
  .footer
  {
      width: 100%;
      height:5vh;
  }